*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/backgrounds/prueba-background2.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


@import 'extends-mixin.scss';
@import 'header-footer.scss';
@import 'nosotros.scss';
@import 'institucional.scss';
@import 'la-escuela-en-accion.scss';
@import 'niveles.scss';
@import 'mediaquerys.scss'
